################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductCatalog/CopilotIndices/18.0.722.55285
/ProductCatalog.Application/obj/Debug/net8.0/refint/ProductCatalog.Application.dll
/.vs/ProductCatalog.slnx/FileContentIndex/11ec9ef8-82ee-45a6-8e2a-b57f7e873077.vsidx
/.vs/ProductCatalog.slnx/FileContentIndex/66266be2-ca58-4169-9143-20aa5de1526f.vsidx
/.vs/ProductCatalog.slnx/FileContentIndex/b0eb066d-6a47-4a19-baf3-e3c5aa028095.vsidx
/.vs/ProductCatalog.slnx/FileContentIndex/da32ab16-ce9b-402f-853a-2b06c8f4f49d.vsidx
/.vs/ProductCatalog.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/ProductCatalog.slnx/v18/TestStore/0/000.testlog
/.vs/ProductCatalog.slnx/v18/.futdcache.v2
/.vs/ProductCatalog.slnx/v18/.suo
/.vs/ProductCatalog.slnx/v18/DocumentLayout.backup.json
/.vs/ProductCatalog.slnx/v18/DocumentLayout.json
/.vs/ProductCatalog.slnx/v18/TestStore/0/testlog.manifest
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.API.dll
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.API.exe
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.API.pdb
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.Application.dll
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.Application.pdb
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.Infrastructure.dll
/ProductCatalog/bin/Debug/net8.0/ProductCatalog.Infrastructure.pdb
/ProductCatalog/obj/Debug/net8.0/ref/ProductCatalog.API.dll
/ProductCatalog/obj/Debug/net8.0/refint/ProductCatalog.API.dll
/ProductCatalog/obj/Debug/net8.0/apphost.exe
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.AssemblyInfo.cs
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.AssemblyInfoInputs.cache
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.csproj.AssemblyReference.cache
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.csproj.BuildWithSkipAnalyzers
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.csproj.FileListAbsolute.txt
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.dll
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.pdb
/ProductCatalog/obj/Debug/net8.0/ProductCatalog.API.sourcelink.json
/ProductCatalog/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/ProductCatalog/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/ProductCatalog.Application/bin/Debug/net8.0/ProductCatalog.Application.dll
/ProductCatalog.Application/bin/Debug/net8.0/ProductCatalog.Application.pdb
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.AssemblyInfo.cs
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.AssemblyInfoInputs.cache
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.csproj.BuildWithSkipAnalyzers
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.csproj.FileListAbsolute.txt
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.dll
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.pdb
/ProductCatalog.Application/obj/Debug/net8.0/ProductCatalog.Application.sourcelink.json
/ProductCatalog.Application/obj/Debug/net8.0/ref/ProductCatalog.Application.dll
/ProductCatalog.Domain/obj/Debug/net8.0/ProductCatalog.Domain.AssemblyInfo.cs
/ProductCatalog.Domain/obj/Debug/net8.0/ProductCatalog.Domain.AssemblyInfoInputs.cache
/ProductCatalog.Infrastructure/bin/Debug/net8.0/ProductCatalog.Application.dll
/ProductCatalog.Infrastructure/bin/Debug/net8.0/ProductCatalog.Application.pdb
/ProductCatalog.Infrastructure/bin/Debug/net8.0/ProductCatalog.Infrastructure.dll
/ProductCatalog.Infrastructure/bin/Debug/net8.0/ProductCatalog.Infrastructure.pdb
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ref/ProductCatalog.Infrastructure.dll
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.AssemblyInfo.cs
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.AssemblyInfoInputs.cache
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.csproj.AssemblyReference.cache
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.csproj.BuildWithSkipAnalyzers
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.csproj.FileListAbsolute.txt
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.dll
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.pdb
/ProductCatalog.Infrastructure/obj/Debug/net8.0/ProductCatalog.Infrastructure.sourcelink.json
/ProductCatalog.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ProductCatalog.Tests/obj/Debug/net8.0/ProductC.D78B51FC.Up2Date
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.AssemblyInfo.cs
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.AssemblyInfoInputs.cache
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.assets.cache
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.csproj.AssemblyReference.cache
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.csproj.BuildWithSkipAnalyzers
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.csproj.CoreCompileInputs.cache
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.csproj.FileListAbsolute.txt
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.dll
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.GeneratedMSBuildEditorConfig.editorconfig
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.genruntimeconfig.cache
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.GlobalUsings.g.cs
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.pdb
/ProductCatalog.Tests/obj/Debug/net8.0/ProductCatalog.Tests.sourcelink.json
/ProductCatalog.Tests/obj/Debug/net8.0/refint/ProductCatalog.Tests.dll
/ProductCatalog.Tests/obj/ProductCatalog.Tests.csproj.nuget.dgspec.json
/ProductCatalog.Tests/obj/ProductCatalog.Tests.csproj.nuget.g.props
/ProductCatalog.Tests/obj/ProductCatalog.Tests.csproj.nuget.g.targets
/ProductCatalog.Tests/obj/project.assets.json
/ProductCatalog.Tests/obj/project.nuget.cache
/ProductCatalog.Tests/obj/Debug/net8.0/ref/ProductCatalog.Tests.dll
/ProductCatalog.Tests/bin/Debug/net8.0
/ProductCatalog.Infrastructure/obj/Debug/net8.0/refint/ProductCatalog.Infrastructure.dll
